<a href="https://colab.research.google.com/github/alejandromanas/GoogleColab_public/blob/master/Bookings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hotel Bookings

Libraries

In [1]:
from google.colab import drive
import pandas as pd
import numpy as np
!pip install vtreat==0.3.3
import vtreat
import vtreat.util

Requirement already satisfied: vtreat==0.3.3 in /usr/local/lib/python3.6/dist-packages (0.3.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from vtreat==0.3.3) (1.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from vtreat==0.3.3) (1.18.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->vtreat==0.3.3) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->vtreat==0.3.3) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->vtreat==0.3.3) (1.12.0)

### Loading Files from Drive

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
raw_data_res = pd.read_csv("/content/drive/My Drive/colab files/bookings/H1.csv", delimiter = ',')
raw_data_urb = pd.read_csv("/content/drive/My Drive/colab files/bookings//H2.csv", delimiter = ',')

### Preprocessing

In [5]:
df_res=raw_data_res.copy()
df_urb=raw_data_urb.copy() 
        
        #Concateno valores de los dos hoteles en un unico dataframe
        #creo nueva columna Hotel
        
df_res['Hotel']='Resort'
df_urb['Hotel']='Urban'
        
df_all=pd.concat([df_res,df_urb], axis=0)
df_all = df_all.reset_index()
del df_all['index']
        
   
    
    ##########################
    # IMPORT DATA
    ##########################
    
   # list(df_all.columns)
    
    ##########################
    # NAN
    ##########################
    
    #Buscamos nan
    # df_all.isnull().values.any() #Hay algun nan
    # df_all.isnull() #matriz logica para bsucarlos
    # df_all.isnull().any() #en que columna esta el nan
    
    #Hotel urbano existen NA en columna children
    #SN cuatro reservas canceladas con campo Children NA. 
    
    
    
    #CHILDREN
df_all['Children'] = df_all.Children.replace(np.nan, 0)
df_all['Children'] = df_all.Children.astype('int')
    
    # vtreat

X_vtreat=pd.DataFrame()
Y_vtreat=pd.DataFrame()
    # X_test=df_model.loc[:, df_model.columns != 'IsCanceled'].copy()
X_vtreat=df_all[['Company','Agent']].copy()
Y_vtreat=df_all['IsCanceled'].copy()
transform = vtreat.BinomialOutcomeTreatment(
  outcome_name='IsCanceled',    # outcome variable
  outcome_target=True,  # outcome of interest
  cols_to_copy=['X_vtreat'],   # columns to "carry along" but not treat as input variables
      )

    # plan = vtreat.BinomialOutcomeTreatment(outcome_target=True)
d_prepared = transform.fit_transform(X_vtreat,df_all['IsCancelled'])

KeyError: ignored

In [0]:
l_columns = list(df.columns) # show column names as list
for i in l_columns:
  print(' column :',i,'type :',df[i].dtype)
  print(df[i].value_counts(dropna=False))
  count.df[i].value_counts(dropna=False)

 column : index type : int64
2047     2
19603    2
21206    2
19157    2
17108    2
        ..
64069    1
62020    1
51779    1
49730    1
59944    1
Name: index, Length: 79330, dtype: int64
 column : IsCanceled type : int64
0    75166
1    44224
Name: IsCanceled, dtype: int64
 column : LeadTime type : int64
0      6345
1      3460
2      2069
3      1816
4      1715
       ...
458       1
371       1
737       1
435       1
387       1
Name: LeadTime, Length: 479, dtype: int64
 column : ArrivalDateYear type : int64
2016    56707
2017    40687
2015    21996
Name: ArrivalDateYear, dtype: int64
 column : ArrivalDateMonth type : object
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: ArrivalDateMonth, dtype: int64
 column : ArrivalDateWeekNumber type : int64
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: ArrivalDateWeekNumber, dtype: int64
 column : ArrivalDateDayOfMonth type : int64
17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
Name: ArrivalDateDayOfMonth, dtype: int64
 column : StaysInWeekendNights type : int64
0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
Name: StaysInWeekendNights, dtype: int64
 column : StaysInWeekNights type : int64
2     33684
1     30310
3     22258
5     11077
4      9563
0      7645
6      1499
10     1036
7      1029
8       656
9       231
15       85
11       56
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
18        6
25        6
30        5
17        4
24        3
40        2
42        1
26        1
32        1
33        1
34        1
35        1
41        1
50        1
Name: StaysInWeekNights, dtype: int64
 column : Adults type : int64
2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
55        1
50        1
40        1
10        1
6         1
Name: Adults, dtype: int64
 column : Children type : int64
0     110800
1       4861
2       3652
3         76
10         1
Name: Children, dtype: int64
 column : Babies type : int64
0     118473
1        900
2         15
10         1
9          1
Name: Babies, dtype: int64
 column : Meal type : object
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: Meal, dtype: int64
 column : Country type : object
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
MLI        1
VGB        1
NPL        1
SMR        1
GUY        1
Name: Country, Length: 178, dtype: int64
 column : MarketSegment type : object
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: MarketSegment, dtype: int64
 column : DistributionChannel type : object
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: DistributionChannel, dtype: int64
 column : IsRepeatedGuest type : int64
0    115580
1      3810
Name: IsRepeatedGuest, dtype: int64
 column : PreviousCancellations type : int64
0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
19        19
5         19
14        14
13        12
21         1
Name: PreviousCancellations, dtype: int64
 column : PreviousBookingsNotCanceled type : int64
0     115770
1       1542
2        580
3        333
4        229
       ...
47         1
36         1
49         1
50         1
63         1
Name: PreviousBookingsNotCanceled, Length: 73, dtype: int64
 column : ReservedRoomType type : object
A                   85994
D                   19201
E                    6535
F                    2897
G                    2094
B                    1118
C                     932
H                     601
P                      12
L                       6
Name: ReservedRoomType, dtype: int64
 column : AssignedRoomType type : object
A                   74053
D                   25322
E                    7806
F                    3751
G                    2553
C                    2375
B                    2163
H                     712
I                     363
K                     279
P                      12
L                       1
Name: AssignedRoomType, dtype: int64
 column : BookingChanges type : int64
0     101314
1      12701
2       3805
3        927
4        376
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
11         2
12         2
16         2
17         2
20         1
18         1
21         1
Name: BookingChanges, dtype: int64
 column : DepositType type : object
No Deposit         104641
Non Refund          14587
Refundable            162
Name: DepositType, dtype: int64
 column : Agent type : object
          9    31961
       NULL    16340
        240    13922
          1     7191
         14     3640
               ...
        285        1
        144        1
        278        1
        408        1
        433        1
Name: Agent, Length: 334, dtype: int64
 column : Company type : object
       NULL    112593
         40       927
        223       784
         67       267
         45       250
                ...
        373         1
        258         1
        497         1
         64         1
         77         1
Name: Company, Length: 353, dtype: int64
 column : DaysInWaitingList type : int64
0      115692
39        227
58        164
44        141
31        127
        ...
175         1
117         1
89          1
92          1
183         1
Name: DaysInWaitingList, Length: 128, dtype: int64
 column : CustomerType type : object
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: CustomerType, dtype: int64
 column : ADR type : float64
62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1959
          ...
202.74       1
87.64        1
69.83        1
160.83       1
35.64        1
Name: ADR, Length: 8879, dtype: int64
 column : RequiredCarParkingSpaces type : int64
0    111974
1      7383
2        28
3         3
8         2
Name: RequiredCarParkingSpaces, dtype: int64
 column : TotalOfSpecialRequests type : int64
0    70318
1    33226
2    12969
3     2497
4      340
5       40
Name: TotalOfSpecialRequests, dtype: int64
 column : ReservationStatus type : object
Check-Out    75166
Canceled     43017
No-Show       1207
Name: ReservationStatus, dtype: int64
 column : ReservationStatusDate type : datetime64[ns]
2015-10-21    1461
2015-07-06     805
2016-11-25     790
2015-01-01     763
2016-01-18     625
              ...
2015-03-18       1
2015-06-14       1
2015-02-06       1
2015-03-28       1
2015-03-10       1
Name: ReservationStatusDate, Length: 926, dtype: int64
 column : hotel_type type : object
urban     79330
resort    40060
Name: hotel_type, dtype: int64
 column : ArrivalDateMonthNum type : int64
8     13877
7     12661
5     11791
10    11160
4     11089
6     10939
9     10508
3      9794
2      8068
11     6794
12     6780
1      5929
Name: ArrivalDateMonthNum, dtype: int64

In [14]:
Y_vtreat.shape

(119390,)

In [34]:
df.columns

Index(['IsCanceled', 'LeadTime', 'ArrivalDateYear', 'ArrivalDateMonth',
       'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate',
       'hotel_type'],
      dtype='object')

In [35]:
df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            79320, 79321, 79322, 79323, 79324, 79325, 79326, 79327, 79328,
            79329],
           dtype='int64', length=119390)

In [56]:
df.index

RangeIndex(start=0, stop=119390, step=1)