<a href="https://colab.research.google.com/github/alejandromanas/GoogleColab_public/blob/master/Hotel%20Bookings/Code/Hotel%20Booking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hotel Bookings

### Loading Files from Drive

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
h1 = pd.read_csv("/content/drive/My Drive/colab/bookings/files/H1.csv", delimiter = ',')
h2 = pd.read_csv("/content/drive/My Drive/colab/bookings/files/H2.csv", delimiter = ',')

In [41]:
h2

       IsCanceled  LeadTime  ...  ReservationStatus ReservationStatusDate
0               0         6  ...          Check-Out            2015-07-03
1               1        88  ...           Canceled            2015-07-01
2               1        65  ...           Canceled            2015-04-30
3               1        92  ...           Canceled            2015-06-23
4               1       100  ...           Canceled            2015-04-02
...           ...       ...  ...                ...                   ...
79325           0        23  ...          Check-Out            2017-09-06
79326           0       102  ...          Check-Out            2017-09-07
79327           0        34  ...          Check-Out            2017-09-07
79328           0       109  ...          Check-Out            2017-09-07
79329           0       205  ...          Check-Out            2017-09-07

[79330 rows x 31 columns]

In [30]:
!ls "/content/drive/My Drive/colab/bookings/files"

H1.csv	H2.csv